.footer {
  float: left;
  width: 100%;
  bottom: 0;
  height: 80px;
  background-color: #cdcdcd;
}

.footer_left {
  float: left;
  margin: 0 30px;
}

.footer_right {
  float: right;
  margin: 10px 30px;
  font-size: 14px;
}
