.foot {
  width: 100%;
  margin: 0;
  background-color: #fcfcfc;
  border-top: 0.5px solid #cfcfcf;
  color: #8f8f8f;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: absolute;
  bottom: 0;
}
.inner_foot {
  padding: 10px;
  margin: 0 auto;
}
.wrap_info {
  margin: 30px auto;
  width: 80%;
}
.f_r {
  float: right;
  list-style: none;
}
.f_r li {
  float: left;
  margin: 0 30px;
}
.f_r li a {
  text-decoration: none;
  color: inherit;
}
.copyright {
  display: inline-block;
  font-size: 15px;
}

@media (max-width: 600px) {
  .foot {
    font-size: 12px;
  }
  .wrap_info {
    margin: 0 auto 10px;
    width: 100%;
  }
  .f_r {
    float: none;
  }
  .inner_foot {
    padding: 10px;
  }
  .copyright {
    font-size: 12px;
  }
}
