.head {
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    color: #343434;
    font-family: 'DM Serif Display';
    display: sticky;
    align-items: center;
  }
  .inner_head {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .wrap_head {
    font-size: 27px;
    font-weight: normal;
    margin: 0;
  }
  .wrap_head a {
    text-decoration: none;
    color: inherit;
  }
  